<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
----
<app-popup-demo></app-popup-demo>
----
<app-message message header="My Message"
  >This is the content of the message</app-message
>
----
<app-content-tabs-demo></app-content-tabs-demo>
----
<app-on-init-demo></app-on-init-demo>
----
<app-on-changes-demo></app-on-changes-demo>
----
<app-comments-list></app-comments-list>
----
<app-all-hooks-demo></app-all-hooks-demo>
----
<app-ng-book-if></app-ng-book-if>
----
<app-ng-book-for-demo></app-ng-book-for-demo>
